<%-include("../../views/partials/admin/header")%>
<div class="main-content">
    <div class="main-header">
        <img src="../Books/Booklove logo.jpg" alt="Booklove Logo">
        <h1>Welcome to the Booklove Admin Dashboard</h1>
        <form action="/admin/logout" method="GET" style="margin: 0;">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
    <div class="content">
        <p>This is the area for future works</p>
    </div>
</div> 
<%-include("../../views/partials/admin/footer")%>

